@page "/cars"

@using BobbysUtils
@using WebWorkshopManager.Shared.Models

@inherits CarsOverviewBase

<MatHeadline4>Автомобили</MatHeadline4>
<MatDivider Style="margin: 10px auto;"></MatDivider>

@if (this.TableItems == null)
{
    <MatProgressBar Indeterminate="true"></MatProgressBar>
}
else
{

    <MatTable Items="@TableItems"
              Striped="true"
              FilterByColumnName="LicensePlate"
              SearchTermFieldLabel="Търсене по регистрационен номер"
              SearchTermFieldPlaceHolder="Рег. Номер"
              DebounceMilliseconds="150"
              PageLabel="Страница"
              PageRecordCountLabel="Редове в страница"
              class="mat-elevation-z5">
        <MatTableHeader>
            <th><MatButton OnClick="@AddNewRow" Icon="@MatIconNames.Add">Нов автомобил</MatButton></th>
            <th>Марка</th>
            <th>Модел</th>
            <th>Рег. Номер</th>
            <th>Двигател</th>
            <th>Двигател №</th>
            <th>Гориво</th>
            <th>Мощност (к.с.)</th>
            <th>Година</th>
            <th>VIN №</th>
            <th>Пробег (км.)</th>

        </MatTableHeader>
        <MatTableRow>
            <td>
                <div style="width: 188px;">
                    <MatIconButton Icon="@MatIconNames.Edit" OnClick="@(_ => OpenEditDialog(@context))"></MatIconButton>
                    <MatIconButton Icon="@MatIconNames.Delete" OnClick="@(_ => DeleteRowAsync(@context))"></MatIconButton>
                </div>
            </td>
            <td>@context.Brand</td>
            <td>@context.Model</td>
            <td>@context.LicensePlate</td>
            <td>@context.Engine.Name</td>
            <td>@context.EngineNumber</td>
            <td>@(EnumHelper.GetEnumFieldDisplayName(context.Engine.FuelType))</td>
            <td>@context.Engine.HorsePower</td>
            <td>@context.Year</td>
            <td>@context.Vin</td>
            <td>@context.Mileage</td>
        </MatTableRow>
    </MatTable>

    <MatDialog @bind-IsOpen="@IsEditRowDialogOpen">
        <MatDialogTitle>@DialogTitle</MatDialogTitle>
        <MatDialogContent>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                <EditForm Model="SelectedRowItemForEdit" OnValidSubmit="SaveRowAsync">
                    <FluentValidationValidator />

                    <p>
                        <MatTextField @bind-Value="@SelectedRowItemForEdit.Brand" Label="Марка" FullWidth="true" Required="true"></MatTextField>
                        <ValidationMessage For="@(() => SelectedRowItemForEdit.Brand)" />
                    </p>

                    <p>
                        <MatTextField @bind-Value="@SelectedRowItemForEdit.Model" Label="Модел" FullWidth="true" Required="true"></MatTextField>
                        <ValidationMessage For="@(() => SelectedRowItemForEdit.Model)" />
                    </p>

                    <p>
                        <MatTextField @bind-Value="@SelectedRowItemForEdit.LicensePlate" Label="Регистрационен номер" FullWidth="true" Required="true"></MatTextField>
                        <ValidationMessage For="@(() => SelectedRowItemForEdit.LicensePlate)" />
                    </p>

                    <p>
                        <MatSelectItem Items="@Engines" Label="Двигател" @bind-Value="@SelectedRowItemForEdit.Engine">
                            <ItemTemplate Context="engine">
                                <div style="display: flex; flex-direction: column; height: 100%;">
                                    <div>@engine.Name</div>
                                    <div>@(EnumHelper.GetEnumFieldDisplayName(engine.FuelType))</div>
                                    <div>@engine.HorsePower</div>
                                </div>
                            </ItemTemplate>
                        </MatSelectItem>
                        <ValidationMessage For="@(() => SelectedRowItemForEdit.Engine)" />
                    </p>

                    <p>
                        <MatTextField @bind-Value="@SelectedRowItemForEdit.EngineNumber" Label="Номер на двигател" FullWidth="true" Required="false"></MatTextField>
                        <ValidationMessage For="@(() => SelectedRowItemForEdit.EngineNumber)" />
                    </p>

                    <p>
                        <MatNumericUpDownField @bind-Value="@SelectedRowItemForEdit.Year" Label="Година" FullWidth="true" Required="true"></MatNumericUpDownField>
                        <ValidationMessage For="@(() => SelectedRowItemForEdit.Year)" />
                    </p>

                    <p>
                        <MatTextField @bind-Value="@SelectedRowItemForEdit.Vin" Label="VIN №" FullWidth="true" Required="true"></MatTextField>
                        <ValidationMessage For="@(() => SelectedRowItemForEdit.Vin)" />
                    </p>

                    <p>
                        <MatNumericUpDownField @bind-Value="@SelectedRowItemForEdit.Mileage" Label="Пробег (км)" FullWidth="true" Required="true"></MatNumericUpDownField>
                        <ValidationMessage For="@(() => SelectedRowItemForEdit.Mileage)" />
                    </p>

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                        <MatButton Icon="cancel" OnClick="@CancelRowEditAsync">Отказ</MatButton>
                        <MatButton Icon="save" Type="submit">Запази</MatButton>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    </div>
                </EditForm>
            </div>
        </MatDialogContent>

    </MatDialog>

    <MatDialog @bind-IsOpen="@IsDeleteRowDialogOpen" Style="z-index:100">
        <MatDialogTitle><MatIcon Icon="warning"></MatIcon> Потвърдете изтриването</MatDialogTitle>
        <MatDialogContent>
            Сигурни ли сте, че искате да изтриете "@SelectedRowItemForEdit.Vin" ?
        </MatDialogContent>
        <MatDialogActions>
            <MatButton OnClick="@(e => { IsDeleteRowDialogOpen = false; })">Отказ</MatButton>
            <MatButton OnClick="@ConfirmDeleteRowAsync">Изтрии</MatButton>
        </MatDialogActions>
    </MatDialog>
}
