@page "/roles"

@using BobbysUtils
@using Microsoft.EntityFrameworkCore.Internal
@inherits RolesOverviewBase

<MatHeadline4>Роли</MatHeadline4>
<MatDivider Style="margin: 10px auto;"></MatDivider>

@if (this.TableItems == null)
{
    <MatProgressBar Indeterminate="true"></MatProgressBar>
}
else
{

    <MatTable Items="@TableItems"
              Striped="true"
              FilterByColumnName="Name"
              SearchTermFieldLabel="Търсене по име"
              SearchTermFieldPlaceHolder="Име"
              DebounceMilliseconds="150"
              PageLabel="Страница"
              PageRecordCountLabel="Редове в страница"
              class="mat-elevation-z5">
        <MatTableHeader>
            <th><MatButton OnClick="@AddNewRow" Icon="@MatIconNames.Add">Нова роля</MatButton></th>
            <th>Име</th>
            <th>Права</th>
        </MatTableHeader>
        <MatTableRow>
            <td>
                <div style="width: 133px;">
                    <MatIconButton Icon="@MatIconNames.Edit" OnClick="@(_ => OpenEditDialog(@context))"></MatIconButton>
                    <MatIconButton Icon="@MatIconNames.Delete" OnClick="@(_ => DeleteRowAsync(@context))"></MatIconButton>
                </div>
            </td>
            <td>
                <div style="min-width: 133px;">
                    @context.Name
                </div>
            </td>
            <td>@EnumHelper.GetDisplayNamesFromFlags(context.Permissions).Join(", ")</td>
        </MatTableRow>
    </MatTable>

    <MatDialog @bind-IsOpen="@IsEditRowDialogOpen">
        <MatDialogTitle>@DialogTitle</MatDialogTitle>
        <MatDialogContent>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                <EditForm Model="SelectedRowItemForEdit" OnValidSubmit="SaveRowAsync">
                    <FluentValidationValidator />

                    <p>
                        <MatTextField Label="Име" @bind-Value="@SelectedRowItemForEdit.Name" Required="true" FullWidth="true"></MatTextField>
                        <ValidationMessage For="@(() => SelectedRowItemForEdit.Name)"/>
                    </p>
                    <MatHeadline6>Права</MatHeadline6>
                    <MatDivider></MatDivider>
                    @foreach (var item in PermissionCheckBoxItems)
                    {
                        <MatCheckbox TValue="bool" Label="@item.Label" @bind-Value="@item.IsChecked"></MatCheckbox>
                    }
                    
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                        <MatButton Icon="cancel" OnClick="@CancelRowEditAsync">Отказ</MatButton>
                        <MatButton Icon="save" Type="submit">Запази</MatButton>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    </div>
                </EditForm>
            </div>
        </MatDialogContent>
    </MatDialog>

    <MatDialog @bind-IsOpen="@IsDeleteRowDialogOpen" Style="z-index:100">
        <MatDialogTitle><MatIcon Icon="warning"></MatIcon> Потвърдете изтриването</MatDialogTitle>
        <MatDialogContent>
            Сигурни ли сте, че искате да изтриете "@SelectedRowItemForEdit.Name" ?
        </MatDialogContent>
        <MatDialogActions>
            <MatButton OnClick="@(e => { IsDeleteRowDialogOpen = false; })">Отказ</MatButton>
            <MatButton OnClick="@ConfirmDeleteRowAsync">Изтрии</MatButton>
        </MatDialogActions>
    </MatDialog>
}
